html {
    font-size: 6px;
  }

@font-face {
  font-family: gameFont;
  src: url(gameFont.TTF);
}

h1 {
  font-size: 70px;
}

.sub{
  font-size: 10px;
  background-color: white;
  color: black;
  text-align: center;
}

.bigcontainer1 img {
  height: 200px;
  width: 500px;
}

.bigcontainer2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: gameFont;
    min-height: 688px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

.mainbody {
    display: flex;
    justify-content: space-around;
}

.footer {
  display: flex;
  background-color: black;
  font-size: 8px;
  color: white;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.container {
    width: 630px;
    height: 525px;
    background-color: black;
    border-radius: 10px ;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    padding-bottom: 2px;
  }
  
.player,
.computer {
    display: flex;
    min-height: 205px;
    width: 630px;
    justify-content: center;
    gap: 12px;  
    flex-shrink: 1;
  }

.player {
    align-items: flex-end;
}

.banner {
  background-color: white;
  font-size: 35px;
  text-align: center;
  padding: 15px;
  padding-bottom: 0;
  transition: all .07s ease;
  min-height: 90px;
  
}
  
.key {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .4rem solid white;
    border-radius: 10px;
    margin: 15px;
    font-size: 10px;
    gap: 5px;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 135px;
    height: 135px;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
  }

.player .key {
  justify-content: flex-end;
}
  
.invert {
    transform: scale(1.1);
    filter: invert(100%);
  }
  
kbd {
    display: block;
    font-family: gameFont;
    font-size: 15px;
  }

.player kbd {
  padding-top: 10px;
}

.computer kbd {
  padding-bottom: 10px;
  padding-top: 12px;
}

img {
  height: 90px;
  width: 80px;
}

.computer img {
  transform: rotate(180deg);
}