html {
    font-size: 6px;
    background: url('./rpsbackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }

@font-face {
  font-family: gameFont;
  src: url(gameFont.TTF);
}

body {
    margin: 0;
    padding: 0;
    font-family: gameFont;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 688px;
  }

.container {
      width: 630px;
      height: 525px;
      display: flex;
      flex-direction: column;
  }
  
.player,
.computer {
    display: flex;
    flex-shrink: 0;
    min-height: 262px;
    width: 630px;
    justify-content: center;
  }

.player {
    align-items: flex-end;
}
  
.key {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border: .4rem solid white;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 10px;
    gap: 5px;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 150px;
    height: 150px;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
  }
  
.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }
  
kbd {
    display: block;
    font-family: gameFont;
    font-size: 20px;
  }